<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="google-site-verification" content="F5NX7TfgTW0Lk2ez73JnDnYky6FOiV2UfnH64n83vTo" />
		<title><%= title %> | International School Olomouc</title>
		
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<link rel="stylesheet" href="<%= base_url %>/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="<%= base_url %>/css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="<%= base_url + cz %>"><img src="<%= base_url %>/images/cz.png" width="16" height="11" alt="English preschool and primary school Olomouc"></a>
			</div><!-- #language -->
			
			<div id="header">
				<a href="/"><img id="logo" src="<%= base_url %>/images/logo.png" width="150" height="58" alt="Logo"></a>
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a class="<%= 'active' if request.path == '/' %>" href="<%= base_url %>/">homepage</a></li>
					<li><a class="<%= 'active' if request.path == '/preschool' %>" href="<%= base_url %>/preschool">preschool</a></li>
					<li><a class="<%= 'active' if request.path == '/primary-school' %>" href="<%= base_url %>/primary-school">primary school</a></li>
					<li><a class="<%= 'active' if (request.path == '/staff') || (request.path == '/staff2') %>" href="<%= base_url %>/staff">staff</a></li>
					<li><a class="<%= 'active' if request.path == '/contact' %>" href="<%= base_url %>/contact">contact</a></li>
					<li><a class="<%= 'active' if request.path.include? '/news' %>" href="<%= base_url %>/news">news</a></li>
					<li><a class="<%= 'active' if request.path == '/expanding-preschool' %>" href="<%= base_url %>/expanding-preschool">expanding preschool</a></li>
					<li><a class="<%= 'active' if request.path == '/new-preschool-building' %>" href="<%= base_url %>/new-preschool-building">new preschool building</a></li>
					<li><a class="<%= 'active' if request.path == '/gallery' %>" href="<%= base_url %>/gallery">gallery</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">

				<%= yield %>
				
			</div><!-- #body -->
			<div id="footer">
				<a href="http://www.josefrichter.com">Web design and development by Josef Richter www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		<%= erb(:analytics, :layout => false) %>
	</body>
	
</html>
