<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>International School Olomouc - <%= post[:title] %></title>
		
		<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://use.typekit.com/fht3iwq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	</head>
	
	<body>
	                
		<div id="wrapper">
			
			<div id="language">
				<a href="/staff">&raquo; English</a>
			</div><!-- #language -->
			
			<div id="header">
				<img id="logo" src="/images/logo.png" width="150" height="58" alt="Logo">
			</div><!-- #header -->
			
			<hr />
			 
			<div id="navigation">
				<ul>
					<li><a href="/domu">domů</a></li>
					<li><a href="/skolka">školka</a></li>
					<li><a href="/skola">škola</a></li>
					<li><a href="/ucitele">učitelé</a></li>
					<li><a href="/kontakt">kontakt</a></li>
					<li><a class="active" href="/novinky">novinky</a></li>
					<li><a href="/galerie">galerie</a></li>
				</ul>
			</div><!-- #navigation -->
			
			<hr />
			
			<div id="body">
				 
				<div id="news">
					<div class="post">

						<h6><%= post[:title] %><span class="meta"> - <%= post[:created_at].strftime("%d. %m. %Y") %></span></h6>

						<div class="entry">
							<%= post.body_html %>
						</div>

						<div class="controls">
							<a href="/novinky">&laquo; zpět na všechny novinky</a>
							<% if admin? %>
								 - <a href="<%= post.url %>edit">upravit tento příspěvek</a>
								<form method="post" action="/delete">
								  <input type="hidden" name="_method" value="delete" />
									<input type="hidden" name="slug" value="<%= post[:slug] %>" />
								  <div><button onclick="return confirm('Opravdu smazat?');" type="submit">smazat tento příspěvek</button></div>
								</form>
							<% end %>
						</div>

					</div>
				</div>	
						
			</div><!-- #body -->
			<div id="footer">
				Design a vývoj webu Josef Richter <a href="http://www.josefrichter.com">www.josefrichter.com</a>
			</div>
		</div><!-- #wrapper -->
		
	</body>
	
</html>